.shopListItems {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.dotIcon {
    width: 27px;
    height: 27px;
    margin-right: 0.5rem;
}

.menuListLinks {
    text-decoration: none;
    color: black;
}

.menuListLinks:hover {
    color: rgb(93, 190, 169)
}