.productsWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productContainer {
    border: 0.15rem solid rgb(153, 223, 214);
    border-radius: 0.7rem;
    box-shadow: 0.15rem 0.15rem 0.15rem 0.15rem rgb(207, 239, 232);
    padding: 1rem 0;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 70%;
}

.currencyAndPrice {
    display: flex;
    gap: 0.5rem;
}

.productImg {
    width: 150px;
    height: 180px;
}

.borderProductContainer {
   border: 0.12rem solid rgb(13, 197, 182);
   width: 100%;
   padding: 0;
}

.productTitle {
    font-size: 1.3rem;
}

.addToCart {
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    background-color: rgb(200, 245, 230);
    border-radius: 8px;
    border: 0.1rem solid rgb(4, 150, 101);
    box-shadow: 0.1rem 0.1rem  rgb(205, 202, 202);
}

.addToCart:hover {
    color: rgb(55, 183, 160);
}