.switchingDotsPlace {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.switchingDots {
    margin-bottom: 1.5rem;
    width: 25px;
    height: 25px;
}

.dotWithColor {
    color: green;
    margin-bottom: 1.5rem;
    width: 25px;
    height: 25px;
}